body{
    font-family: "Open Sans", sans-serif;
}
.row.clear_both{
    border:5px dashed aquamarine;
    margin:20px auto;
    padding: 10px;
    width:700px;
    text-align: center;
}
h2{
    text-align:center;
    padding:10px;
}
.Figure-wrapper{
    text-align: center;
}
.Figure-Legend-with_bounds{
    margin-bottom: 5px;
}
.Figure-Legend-bound{
    position: absolute;
    white-space: nowrap;
    top: 22px;
    transform: translate(-50%, 0);
    font-size: 11px;
}
.Figure-Legend-bound_outer{
    display: inline;
    position: relative;
    width: 1px;
    height: 22px;
    background: #666;
    margin-bottom: 20px;
}
.Figure-Legend-label{
    display: inline;
    color: white!important;
    padding: 0 3px;
    border-radius: 4px;
    margin: 2px 3px;
    font-style: normal!important;
    min-width: 40px;
}
.Figure-caption{
    color: #666;
    font-style: italic;
    margin-bottom: 20px;
    padding: 0 7%;
    font-size:10px;
}
#Report-Body em{
    font-style: inherit;
    color: #000;
    white-space: nowrap;
}
.table>tbody>tr>td{
    line-height:1.42857143;
}
table{
    border-spacing:0;
    border-collapse:collapse;
}
.Figure-Legend-container{
    color: #666;
    font-style: italic;
    margin-bottom: 0;
    padding: 0 7%;
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}